<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Quero Ajudar</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Grid with images -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href="/css/gridImage.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/creative.css" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>
    <script src="/js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/creative.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

    <!-- Referências GRID 3D -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/helper.js"></script>
    <!--Conteudo da paginção e outro módulos  -->
    <script src="/scripts/ui-bootstrap-tpls-2.1.3.js"></script>
    <!-- Grid 3d -->
    <script src="/js/grid3d.js"></script>

    <!-- Configuração -->
    <script src="/Views/Shared/app.module.js"></script>
    <!-- Controllers -->
    <script src="QueroAjudarController.js"></script>

    <!-- Service -->
    <script src="PedidoAjudaService.js"></script>

</head>
<body id="page-top">
    <div ng-app="app">
        <div ng-controller="queroAjudarCtrl">

            <!-- MASTER -->
            <div ng-include="_viewMasterQueroAjudar"></div>

            <!--ABA cATEGORIAS  -->
            <div ng-include="_viewCategoria"></div>

            <!-- ABA GRID -->
            <div ng-include="_viewGrid"></div>

            <!-- ABA Contato  -->
            <div ng-include="_viewContato"></div>
        </div>
    </div>
</body>
</html>