<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div style="background:rgba(120, 160, 142, 0.49)" class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:#0e5737" class="navbar-brand page-scroll" href="#page-top">Logo Corrente do Bem</a>
        </div>
        <!-- menu cabeçalho -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="passo1">
                    <a style="color:#0e5737" id="lblCabecalhoTarefa" class="page-scroll" href="#">Diga o que você precisa</a>
                </li>
                <li id="passo2" style="display:none">
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li id="passo3" style="display:none">
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li id="passo4" style="display:none">
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>

</nav>