<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top:8%;">
                <h2 style="color:#0e5737" class="section-heading">Como você deseja fazer a diferença?</h2>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:5%;">
        <div class="row">
            <div class="col-xs-12 col-md-2 text-center">
                <div class="service-box">
                    <a class="page-scroll" href="#grid3d" ng-click="selecionarCategoria_Click('saude')" style="cursor:pointer">
                        <i src="/img/saude.png" class="fa fa-4x wow bounceIn text-primary">
                            <img class="icone-categoria" src="/img/saude.png" />
                        </i>
                        <h3>Saúde</h3>
                    </a>
                    <p class="text-muted">Aqui será encontrados pessoas que estejam passando por algum problema de saúde. Necessidade: Exames, cirurgias, doações orgânicas e etc. </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 text-center">
                <div class="service-box">
                    <a ng-click="selecionarCategoria_Click('catastrofeNatural')" style="cursor:pointer">
                        <i class="fa fa-4x  wow bounceIn text-primary" data-wow-delay=".2s">
                            <img class="icone-categoria" src="/img/catastrofe.png" />
                        </i>
                        <h3>Catástrofes Naturais</h3>
                    </a>
                    <p class="text-muted">
                        Aqui será encontrados pessoas que sofreram com desastres causados pela vingança da natureza, então
                        possuímos uma parte de culpa nisso, se desculpe da natureza, ajudando a humanidade.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 text-center">
                <div class="service-box">
                    <a ng-click="selecionarCategoria_Click('necessidadeFisica')" style="cursor:pointer">
                        <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s">
                            <img class="icone-categoria" src="/img/necessidadesFisicas.png" />
                        </i>
                        <h3>Necessidades Físicas</h3>
                    </a>
                    <p class="text-muted">
                        Aqui será encontrado pessoas que sofrem com alguma deficiência fisíca e necessitam de algum
                        aparelho para melhor sua vida.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 text-center">
                <div class="service-box">
                    <a class="page-scroll" href="#grid3d" ng-click="selecionarCategoria_Click('necessidadeFisiologica')" style="cursor:pointer">
                        <i class="fa fa-4x wow bounceIn text-primary">
                            <img class="icone-categoria" src="/img/necessidadesFisiologicas.png" />
                        </i>
                        <h3>Necessidades Fisiológicas</h3>
                    </a>
                    <p class="text-muted">Aqui será encontrado pessoas que necessitam de comida, roupa, fralda, cobertor, colchão e etc. </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 text-center">
                <div class="service-box">
                    <a ng-click="selecionarCategoria_Click('animais')" style="cursor:pointer">
                        <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".1s">
                            <img class="icone-categoria" src="/img/animais.png" />
                        </i>
                        <h3>Animais</h3>
                    </a>
                    <p class="text-muted">
                        Aqui será encontrado pessoas que possuem algum caso de saúde grave, onde não possuem condições de
                        resolve-los sozinho e precisam de alguém como você para lhes uma esperança.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 text-center">
                <div class="service-box">
                    <a ng-click="selecionarCategoria_Click('todos')" style="cursor:pointer">
                        <i class="fa fa-4x   wow bounceIn text-primary" data-wow-delay=".3s">
                            <img class="icone-categoria" src="/img/todos.png" />
                        </i>
                        <h3>Todos</h3>
                    </a>
                    <p class="text-muted">Aqui será encontrado todas as pessoas, isso demontra que você não sabe como ajudar, mas você quer.</p>
                </div>
            </div>
        </div>
    </div>
</section>