<section id="contact" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="color:#0e5737" class="section-heading">Está com problemas?</h2>
                <br />
                <p>Para começar a participar do projeto é muito fácil, selecione um dos meios de comunicação a baixo e entramos em contato com você.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>(51) 9973-4100</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="#">tialles_zerwes@hotmail.com</a></p>
            </div>
        </div>
    </div>
</section> 